/*Home*/
#HomeDiv
{
	position:relative;
	max-width:1024px;
	margin:0 auto;
}
#HomeDiv h1
{
	font-size: 5em;
}
#HomeDesc
{
	font-size:1.5em;
}
#DifficultyDiv
{
	max-width: 450px;
}
.MenuButtonFull
{
	font-size: 1.8em;
	width: 250px;
	height: 50px;
	margin-bottom: 10px;
}
.MenuButtonHalf
{
	font-size: 1.5em;
	width: 123px;
	height: 50px;
	margin-bottom: 10px;
}
.MenuButtonSmall
{
	font-size: 1.2em;
	width: 80px;
	height: 50px;
	margin-bottom: 5px;
}

/*Game*/
#GameDiv
{
	position: relative;
	max-width: 1024px;
	margin: 0 auto;
}
#GameInstructionsMobile
{
	display: none;
}
#GameInstructionsDesktop
{
	font-size: 1.5em;
	margin-top: 10px;
}
#GameOverDiv
{
	top: 150px;
	width: 42%;
	height: 295px;
}
#GameOverDiv h1
{
	margin: 10px 0;
	font-size: 4.5em;
}
#GameOverHiScoreDiv
{
	width: 70%;
	font-size:2em;
}
#GameOverScoreDiv
{
	font-size: 2em;
	margin-bottom: 5px;
}
.PopupButton
{
	width: 150px;
	height: 50px;
	font-size: 1.5em;
	margin-bottom: 10px;
}
.CoinSmall
{
	width: 25px;
	vertical-align: middle;
	margin-right: 3px;
}
#ScoresDiv, #TimeAndCoinsSpan, #Coins
{
	font-size: 1.5em;
}

/*Leaderboard*/
#LeaderboardDiv
{
	position: relative;
	max-width: 1024px;
	margin: 0 auto;
}
#LeaderboardTable
{
	width: 60%;
	margin: 0 auto;
}
#LeaderboardTable th
{
	font-size: 1.5em;
}
#LeaderboardTable td
{
	font-size: 1.5em;
}

/*Customize*/
#CustomizeDiv
{
	position: relative;
	max-width: 1024px;
	margin: 0 auto;
}
#ItemsDiv
{
	max-height: 80vh;
}
.CustomizeItem
{
	float:left;
	width:300px;
	margin-right:10px;
}