/*Home*/
#HomeDiv h1
{
	font-size: 4em;
}
#HomeLogo
{
	width: 60%;
}
#HomeDev
{
	font-size: .8em;
}
#DifficultyDiv
{
	max-width: 300px;
}
.MenuButtonFull
{
	font-size: 1.8em;
	width: 250px;
	height: 50px;
	margin-bottom: 10px;
}
.MenuButtonHalf
{
	font-size: 1.5em;
	width: 123px;
	height: 50px;
	margin-bottom: 10px;
}
.MenuButtonSmall
{
	font-size:1.2em;
	width:80px;
	height:50px;
	margin-bottom:5px;
}

/*Game*/
#GameInstructionsMobile
{
	margin-top: 10px;
	font-size: .9em;
}
#GameInstructionsDesktop
{
	display:none;
}
#GameOverDiv
{
	top: 50px;
	width: 80%;
	height: 225px;
}
#GameOverDiv h1
{
	margin: 5px 0;
	font-size: 3em;
}
#GameOverHiScoreDiv
{
	width: 70%;
}
#GameOverScoreDiv
{
	font-size:1.5em;
	margin-bottom:5px;
}
.PopupButton
{
	width: 110px;
	height:50px;
	font-size: 1.3em;
	margin-bottom: 10px;
}
.CoinSmall
{
	width:16px;
	vertical-align:middle;
	margin-right:2px;
}

/*Leaderboard*/
#LeaderboardTable
{
	width: 100%;
}
#LeaderboardTable td
{
	font-size: 1.2em;
}

/*Customize*/
#ItemsDiv
{
	max-height: 65vh;
}